{{ define "signup" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Ocelot</title>
    {{ template "styles" . }}
    {{ template "scripts" . }}
    <script type="text/javascript" src="/assets/js/signup.js"></script>
  </head>
  <body>
    <div class="centered">
      <form class="sign">
	<div class="top"></div>
	<div class="section accent">
	  Name
	</div>
	<div class="section shared-line">
	  <input type="text" id="fname" placeholder="First Name">
	  <input type="text" id="lname" placeholder="Last Name">
	</div>
	<div class="section accent">
	  Description
	</div>
	<div class="section">
	  <input type="text" id="desc" placeholder="Description of yourself">
	</div>
	<div class="section accent">
	  Website
	</div>
	<div class="section">
	  <input type="text" id="website" placeholder="Optional">
	  <input type="text" id="address" value="{{ .Address }}" class="hidden">
	</div>
	<div class="bottom section">
	  <div class="button red" id="join">
	    <span class="icon-users"></span>&nbsp;Join
	  </div>
	  <div class="button green" id="cancel">
	    Cancel
	  </div>
	</div>
      </form>
    </div>
  </body>
</html>
{{ end }}
